body{
  width:60%;margin:auto;
}
h1{
  text-align:center;
  }
#img{
  
  float:left;
  width:100%;
  margin-bottom:10px;
  
  }
#about{
  text-align:justify;
  }
#list{
  text-align:left;
}
#subimg{
  float:right;
  width:75%
  }
#formref{
  float:bottom;
  text-align:left;
  margin-top:300px;
  
  }
#thead{
  text-align:center;
  color:white;
  background-color:#8165AB"
  }

